.content {
  word-wrap: break-word;
}

.content .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.content details,
.content figcaption,
.content figure {
  display: block;
}

.content summary {
  display: list-item;
}

.content [hidden] {
  display: none !important;
}

.content a {
  background-color: transparent;
  color: #58a6ff;
  text-decoration: none;
}

.content abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.content b,
.content strong {
  font-weight: 600;
}

.content dfn {
  font-style: italic;
}

.content h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #21262d;
}

.content mark {
  background-color: rgba(187, 128, 9, 0.15);
  color: #c9d1d9;
}

.content small {
  font-size: 90%;
}

.content sub,
.content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.content sub {
  bottom: -0.25em;
}

.content sup {
  top: -0.5em;
}

.content img {
  border-style: none;
  max-width: calc(100vw - 32px);
  height: auto;
  box-sizing: content-box;
  background-color: #0d1117;
}

@media (width >= 768px) {
  .content img {
    max-width: calc(800px - 32px);
  }
}

.content code,
.content kbd,
.content pre,
.content samp {
  font-family: monospace;
  font-size: 1em;
}

.content figure {
  margin: 1em 0;
}

.content hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #21262d;
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #30363d;
  border: 0;
}

.content input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.content [type='checkbox'],
.content [type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

.content [type='number']::-webkit-inner-spin-button,
.content [type='number']::-webkit-outer-spin-button {
  height: auto;
}

.content [type='search']::-webkit-search-cancel-button,
.content [type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

.content ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.content ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.content a:hover {
  text-decoration: underline;
}

.content ::placeholder {
  color: #6e7681;
  opacity: 1;
}

.content hr::before {
  display: table;
  content: '';
}

.content hr::after {
  display: table;
  clear: both;
  content: '';
}

.content table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.content td,
.content th {
  padding: 0;
}

.content details summary {
  cursor: pointer;
}

.content details:not([open]) > *:not(summary) {
  display: none !important;
}

.content a:focus,
.content [role='button']:focus,
.content input[type='radio']:focus,
.content input[type='checkbox']:focus {
  outline: 2px solid #58a6ff;
  outline-offset: -2px;
  box-shadow: none;
}

.content a:focus:not(:focus-visible),
.content [role='button']:focus:not(:focus-visible),
.content input[type='radio']:focus:not(:focus-visible),
.content input[type='checkbox']:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.content a:focus-visible,
.content [role='button']:focus-visible,
.content input[type='radio']:focus-visible,
.content input[type='checkbox']:focus-visible {
  outline: 2px solid #58a6ff;
  outline-offset: -2px;
  box-shadow: none;
}

.content a:not([class]):focus,
.content a:not([class]):focus-visible,
.content input[type='radio']:focus,
.content input[type='radio']:focus-visible,
.content input[type='checkbox']:focus,
.content input[type='checkbox']:focus-visible {
  outline-offset: 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.content h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #21262d;
}

.content h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.content h4 {
  font-weight: 600;
  font-size: 1em;
}

.content h5 {
  font-weight: 600;
  font-size: 0.875em;
}

.content h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: #8b949e;
}

.content p {
  margin-top: 0;
  margin-bottom: 10px;
}

.content blockquote {
  margin: 0;
  padding: 0 1em;
  color: #8b949e;
  border-left: 0.25em solid #30363d;
}

.content ul,
.content ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.content ol ol,
.content ul ol {
  list-style-type: lower-roman;
}

.content ul ul ol,
.content ul ol ol,
.content ol ul ol,
.content ol ol ol {
  list-style-type: lower-alpha;
}

.content dd {
  margin-left: 0;
}

.content tt,
.content code,
.content samp {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
}

.content pre {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  word-wrap: normal;
}

.content > div[data-filename]::before {
  content: attr(data-filename);
  font-size: 0.8rem;
  font-family: var(--monospace-font-family);
  position: absolute;
  background-color: #121314;
  border-radius: 6px 0 0 0;
  padding: 2px 5px 3px 7px;
}

.content > div[data-filename] > pre {
  padding-top: 32px;
}

.content .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.content input::-webkit-outer-spin-button,
.content input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.content::before {
  display: table;
  content: '';
}

.content::after {
  display: table;
  clear: both;
  content: '';
}

.content > *:first-child {
  margin-top: 0 !important;
}

.content > *:last-child {
  margin-bottom: 0 !important;
}

.content a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.content .absent {
  color: #f85149;
}

.content .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.content .anchor:focus {
  outline: none;
}

.content p,
.content blockquote,
.content ul,
.content ol,
.content dl,
.content table,
.content pre,
.content details {
  list-style: initial;
  margin-top: 0;
  margin-bottom: 16px;
}

.content blockquote > :first-child {
  margin-top: 0;
}

.content blockquote > :last-child {
  margin-bottom: 0;
}

.content h1 .octicon-link,
.content h2 .octicon-link,
.content h3 .octicon-link,
.content h4 .octicon-link,
.content h5 .octicon-link,
.content h6 .octicon-link {
  color: #c9d1d9;
  vertical-align: middle;
  visibility: hidden;
}

.content h1:hover .anchor,
.content h2:hover .anchor,
.content h3:hover .anchor,
.content h4:hover .anchor,
.content h5:hover .anchor,
.content h6:hover .anchor {
  text-decoration: none;
}

.content h1:hover .anchor .octicon-link,
.content h2:hover .anchor .octicon-link,
.content h3:hover .anchor .octicon-link,
.content h4:hover .anchor .octicon-link,
.content h5:hover .anchor .octicon-link,
.content h6:hover .anchor .octicon-link {
  visibility: visible;
}

.content h1 tt,
.content h1 code,
.content h2 tt,
.content h2 code,
.content h3 tt,
.content h3 code,
.content h4 tt,
.content h4 code,
.content h5 tt,
.content h5 code,
.content h6 tt,
.content h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

.content summary h1,
.content summary h2,
.content summary h3,
.content summary h4,
.content summary h5,
.content summary h6 {
  display: inline-block;
}

.content summary h1 .anchor,
.content summary h2 .anchor,
.content summary h3 .anchor,
.content summary h4 .anchor,
.content summary h5 .anchor,
.content summary h6 .anchor {
  margin-left: -40px;
}

.content summary h1,
.content summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.content ul.no-list,
.content ol.no-list {
  padding: 0;
  list-style-type: none;
}

.content ol[type='a'] {
  list-style-type: lower-alpha;
}

.content ol[type='A'] {
  list-style-type: upper-alpha;
}

.content ol[type='i'] {
  list-style-type: lower-roman;
}

.content ol[type='I'] {
  list-style-type: upper-roman;
}

.content ol[type='1'] {
  list-style-type: decimal;
}

.content div > ol:not([type]) {
  list-style-type: decimal;
}

.content ul ul,
.content ul ol,
.content ol ol,
.content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.content li > p {
  margin-top: 16px;
}

.content li + li {
  margin-top: 0.25em;
}

.content dl {
  padding: 0;
}

.content dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.content dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.content table th {
  font-weight: 600;
}

.content table th,
.content table td {
  padding: 6px 13px;
  border: 1px solid #30363d;
}

.content table tr {
  background-color: #0d1117;
  border-top: 1px solid #21262d;
}

.content table tr:nth-child(2n) {
  background-color: #161b22;
}

.content table img {
  background-color: transparent;
}

.content img[align='right'] {
  padding-left: 20px;
}

.content img[align='left'] {
  padding-right: 20px;
}

.content .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.content span.frame {
  display: block;
  overflow: hidden;
}

.content span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #30363d;
}

.content span.frame span img {
  display: block;
  float: left;
}

.content span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #c9d1d9;
}

.content span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.content span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.content span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.content span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.content span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.content span.align-right span img {
  margin: 0;
  text-align: right;
}

.content span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.content span.float-left span {
  margin: 13px 0 0;
}

.content span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.content span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.content code,
.content tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(110, 118, 129, 0.4);
  border-radius: 6px;
}

.content code br,
.content tt br {
  display: none;
}

.content del code {
  text-decoration: inherit;
}

.content samp {
  font-size: 85%;
}

.content pre code {
  font-size: 100%;
}

.content pre > code {
  padding: 0 !important;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.content pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 6px;
}

.content pre code,
.content pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.content ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
