:root {
  --base-font-family: "Segoe UI", "Hiragino Kaku Gothic ProN", "BIZ UDGothic",
    "メイリオ", sans-serif;
  --monospace-font-family: "Consolas", "Menlo", "Monaco", "Courier New",
    monospace;
}

* {
  font-family: var(--base-font-family);
}
html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}
pre,
code,
code * {
  font-family: var(--monospace-font-family) !important;
}
